.container {
  width: 100%;
}

.content {
  width: 100%;
  min-height: 400px;
}

.dropzone {
  width: 100%;
  padding: 34px 0;
  border: 1px dashed #d3dbe5;
  border-radius: 8px;
  background: #f9fbfd;
}

.uploader {
  width: 100%;
}
